* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.paper {
    width: 800px;
    margin: 0 auto;
    background-color: white;;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #29648a;
    color: white;
}

header > * {
    margin-left: 30px;
}

header h1 {
    padding-top: 25px;
    font-size: 2.6rem;
}

header h2 {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 2.2rem;
}

.main {
    display: flex;
}

.main .main_left {
    width: 70%;
    padding-left: 20px;
}
.main .main_left h2 {
    font-size: 2.2rem;
    padding-top: 15px;
    color: #29648a;
    border-bottom: #29648a solid 3px;
    margin-right: 10px;
}
.main .main_left .main_left--job {
    padding-top: 20px;
    font-size: 1.5rem;
}

.main .main_left .main_left--job h3 {
    font-size: 1.8rem;
}

.main .main_left .main_left--job p + p {
    padding-top: 10px;
}

.main .main_right {
    width: 30%;
    background-color: #e0e1e2;
    padding: 20px 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.main .main_right h3 {
    font-size: 1.8rem;
    color: #29648a;
    border-bottom: #29648a solid 3px;
}

.main .main_right .main_right--info .info {
    margin-bottom: 3px;
    display: flex;
}

.main .main_right .main_right--info h3 + div {
    margin-top: 10px;
}

.main .main_right .main_right--info .info a, .main .main_right .main_right--info .info p {
    padding-left: 5px;
}
.main .main_right .main_right--info .info a {
    color: black;
    text-decoration: none;
}
.main .main_right .main_right--info .info a:visited {
    color: black;
}

.main .main_right .main_right--info .info svg {
    width: 15px;
    height: 15px;
    color: #29648a;
}

.main .main_right .main_right--skills h3 + p{
    margin-top: 10px;
}

.main .main_right .main_right--skills div:last-child {
    margin-bottom: 10px;
}
.main .main_right .main_right--education p {
    padding-top: 20px;
}

.measurer {
    height: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #29648a;
}

.ninety-percent {
    width: 90%;
}

.seventy-percent {
    width: 70%;
}

.fourty-five-percent {
    width: 45%;
}

.eighty-percent{
    width: 80%;
}